INF/Rozproszone Systemy Informatyczne/RSI3/RSI3_ReverseProxyContract/Service References/CachingProxyReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RSI3_CachingProxyContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RSI3_CachingProxyContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
</xs:schema>